body {
  margin: 0;
  padding: 0;
  background: #99917c;
  background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/600174/1360/846/m1/fpnw/wm1/svoyu8isrh3nvebbnewgmqihnwwtba3dffgoonohj6jmrda5i7qghyu79rgoe3zu-.jpg?1439206444&s=2c1fb8ce7d43629023aa0e46206963af") ;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
